html, body {
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.02rem; }

h2 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  color: #4B515D;
  letter-spacing: -0.05rem; }

h5 {
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding-top: 1.5rem; }
  @media (min-width: 768px) {
    h5 {
      padding-top: 0; } }

.btn {
  border-radius: 0; }

.avatar {
  width: 12rem;
  margin-top: 2rem;
  border-radius: 6px; }

div.wrapper:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("/img/1.png");
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.3s; }

.bar1, .bar3:after {
  margin: 0px; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 5px);
  transform: rotate(-45deg) translate(-3px, 5px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -6px);
  transform: rotate(45deg) translate(-3px, -6px); }

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none; }

@media (min-width: 768px) {
  #mobile-nav {
    display: none; } }

#mobile-nav .hamburger-container {
  padding-left: 0;
  background: transparent;
  color: #fff;
  text-align: right;
  width: 100%;
  display: flex;
  align-items: center; }

#mobile-nav .bar-container {
  margin-right: 4px; }

#mobile-nav #menu {
  font-weight: bold; }

#mobile-nav #nav-dropdown {
  width: 100%; }

#desktop-nav {
  display: none; }
  @media (min-width: 768px) {
    #desktop-nav {
      display: block; } }

.nav-link {
  color: #fff;
  padding: 0.3rem 0;
  font-weight: bold; }
  .nav-link:hover {
    color: rgba(255, 255, 255, 0.6); }

.sidebar {
  background: rgba(16, 59, 59, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff; }
  @media (min-width: 768px) {
    .sidebar {
      position: fixed;
      width: 300px;
      height: 100vh; } }

a.contact-btn {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 1.6rem !important;
  margin-right: 0.2rem; }
  a.contact-btn:hover {
    color: #fff; }

.copyright {
  margin-top: 1.5rem;
  font-size: 0.7rem;
  color: #bdbdbd; }

.name-content {
  height: 3rem; }

#name {
  display: inline-block;
  margin-right: 0.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: -0.2rem; }

span.typed-cursor.typed-cursor--blink {
  opacity: 1;
  animation: typedjsBlink 0.8s;
  animation-iteration-count: 6;
  font-size: 1.5rem;
  font-weight: bold; }

.main-content {
  background-color: #fafafa;
  min-height: 60vh; }
  @media (min-width: 768px) {
    .main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      margin-left: 300px;
      padding-left: 2rem;
      padding-right: 2rem; } }

.container {
  margin-left: 0; }

.content-container {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.index-content {
  height: 60vh;
  color: #fff; }
  @media (min-width: 768px) {
    .index-content {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 300px;
      padding-left: 2rem;
      padding-right: 2rem; } }

.about {
  border: solid 1px #fff;
  padding: 6px 8px;
  align-self: flex-start;
  color: #fff; }
  .about:hover {
    color: #fff; }

.fa-arrow-right {
  transition: all 0.5s ease; }

.about:hover .fa-arrow-right {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg); }

.blurb {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
  @media (min-width: 768px) {
    .blurb {
      font-size: 2rem; } }

.tech {
  color: gray;
  font-weight: bold;
  font-size: 0.8rem; }

@media (max-width: 768px) {
  .crypto-row {
    flex-direction: column-reverse; } }

.project-link {
  font-size: 0.8rem;
  width: 10rem;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: bold;
  background: #37474F;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); }
  .project-link:hover {
    color: #fff; }

.project-link span {
  position: relative;
  z-index: 1; }

.project-link:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #2E2E2E;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg); }

.project-link:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg); }

.list-inline-item i {
  font-size: 2.5rem;
  padding-right: 0.25rem;
  color: #bdbdbd;
  transition: all 0.2s ease; }
  .list-inline-item i:hover {
    color: #4B515D; }

.subheading {
  font-size: 1.4rem;
  font-family: 'Saira Extra Condensed', sans-serif; }

@media (min-width: 768px) {
  .resume-date {
    min-width: 12rem; } }
