html, body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  letter-spacing: -0.02rem; }

h2 {
  letter-spacing: -0.1rem; }

h5 {
  padding-top: 1.5rem; }
  @media (min-width: 768px) {
    h5 {
      padding-top: 0; } }

.btn {
  border-radius: 0; }

.avatar {
  margin-top: 2rem;
  border-radius: 6px;
  width: 12rem; }

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.3s; }

.bar1, .bar3:after {
  margin: 0px; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 5px);
  transform: rotate(-45deg) translate(-3px, 5px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -6px);
  transform: rotate(45deg) translate(-3px, -6px); }

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none; }

#mobile-nav {
  width: 100%;
  z-index: 10;
  opacity: 0.9; }
  @media (min-width: 768px) {
    #mobile-nav {
      display: none; } }
  #mobile-nav .hamburger-container {
    padding-left: 0;
    background: #592338;
    color: #fff;
    text-align: right;
    width: 100%;
    display: flex;
    align-items: center; }
  #mobile-nav .bar-container {
    margin-right: 4px; }
  #mobile-nav #menu {
    font-weight: bold; }
  #mobile-nav #nav-dropdown {
    width: 100%; }

#desktop-nav {
  display: none; }
  @media (min-width: 768px) {
    #desktop-nav {
      display: block; } }

.nav-link {
  color: #fff;
  padding: 0.3rem 0;
  font-weight: bold; }
  .nav-link:hover {
    color: #bdbdbd; }

.copyright {
  margin-top: 1.5rem;
  font-size: 0.7rem;
  color: #bdbdbd; }

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #592338;
  width: 100%;
  color: #fff; }
  @media (min-width: 768px) {
    .sidebar {
      position: fixed;
      width: 300px;
      height: 100vh; } }

.name-content {
  height: 3rem; }

#name {
  display: inline-block;
  margin-right: 0.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: -0.2rem; }

span.typed-cursor.typed-cursor--blink {
  opacity: 1;
  animation: typedjsBlink 0.8s;
  animation-iteration-count: 6;
  font-size: 1.5rem;
  font-weight: bold; }

.about {
  border: solid 1px #fff;
  padding: 6px 8px;
  align-self: flex-start;
  color: #fff; }
  .about:hover {
    color: #fff; }

.fa-arrow-right {
  transition: all 0.5s ease; }

.about:hover .fa-arrow-right {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg); }

.blurb {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
  @media (min-width: 768px) {
    .blurb {
      font-size: 2rem; } }

.index-content {
  height: 60vh;
  background-image: url(/img/1.png);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff; }
  @media (min-width: 768px) {
    .index-content {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 300px; }
      .index-content .container {
        max-width: 70%; } }

.main-content {
  min-height: 60vh; }
  @media (min-width: 768px) {
    .main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      margin-left: 300px;
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: 60rem; } }

.content-container {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.tech {
  color: gray;
  font-weight: bold;
  font-size: 0.8rem; }

.devicon {
  font-size: 2rem;
  color: #4B515D; }

@media (max-width: 768px) {
  .crypto-row {
    flex-direction: column-reverse; } }

.project-link {
  font-size: 0.8rem;
  width: 8rem;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: bold;
  background-color: #2E2E2E;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); }
  .project-link:hover {
    color: #fff; }

.project-link span {
  position: relative;
  z-index: 1; }

.project-link:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #4285F4;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg); }

.project-link:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg); }

.contact-btn {
  width: 10rem;
  margin-right: 1rem;
  margin-bottom: 1.2rem;
  text-transform: lowercase;
  font-weight: 500;
  color: #fff;
  background-color: #37474F;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none; }

.contact-btn:hover {
  background-color: #263238;
  box-shadow: 0px 15px 20px rgba(35, 50, 56, 0.4);
  color: #fff;
  transform: translateY(-7px); }
